<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Contact Us</h1>
        <button class="button button-clear button-primary" ng-click="modal_about.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
            <strong style="color:#135dda;">Thank you for trying OpenCircles.</strong>
            <br /><br />
                If you do not see the college and/or group you're interested in or are experiencing technical problems, contact us.
                <a style="color:#135dda;" href="mailto:theteam@theopencircles.com" target="_top">theteam@theopencircles.com</a>
            <br /><br />
            <strong>
                <p> * A group cannot be searched until a question has been asked for it.</p>
                <p> * Current colleges we offer: NYU, Cooper Union and University of New England.</p>
                <p> * Swipe the question to the left inside a conversation and allow the applicant to give feedback.</p>
            </strong>
    </ion-content>
</ion-modal-view>