<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Contact Us</h1>
        <button class="button button-clear button-primary" ng-click="modal_about.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
            <strong style="color:#135dda;">Thank you for trying OpenCircles.</strong>
            <br /><br />
                If you do not see the college you're interested in or are experiencing technical problems, contact us.
                <a style="color:#135dda;" href="mailto:theteam@theopencircles.com" target="_top">theteam@theopencircles.com</a>
            <br /><br />
            <strong>
                <p> * Current colleges we offer: NYU, Cooper Union and University of New England.</p>
                <p> * Send your interlocuter a survey by wrapping up your conversation once finished.</p>
                <p> * Recieve points for being a studious Mentor and create a school group of your own</p>
            </strong>
    </ion-content>
</ion-modal-view>