<ion-view view-title="Ask Questions">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Ask Question</h1>
        <button class="button button-clear button-primary" ng-click="modal1.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Search School</span>
                <input type="search" placeholder="School name" ng-change="search()" ng-model="data.search">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Select School
                </div>
                <select ng-model="user.sid" ng-options="select.schoolname for select in data.list" ng-change="update(user.sid)">
                </select>
            </label>
            <label class="item item-input">
                <textarea my-maxlength="100" name="comment" id="comment-textarea" ng-model="user.question" placeHolder="write questions here..."></textarea>
            </label>
            <button ng-disabled="disable" class="button button-full button-positive" ng-click="ask(user)">Ask Question</button>

            <div ng-model="error">{{error}}</div>
        </div>
    </ion-content>
</ion-view>