<ion-view hide-nav-bar="true" class="padding bgcolor">
<ion-header-bar class="transparent">
  <button class="button button-clear button-primary" ng-click="openSignIn()">
      Log In
    </button>
    <button class="button button-clear button-primary" ng-click="about()">
      Open Circles
    </button>
</ion-header-bar>
    <ion-content class="padding transparent">
      <ion-list>
        <img src="img/logo1.png" class="logo">
  </ion-list>
        <div class="list">
            <button ng-click="openModal('student_signup')" class="button button-full button-light button-white">
                Sign up as a college advisor
            </button>
            <button ng-click="openModal('signup')" class="button button-full button-light button-white">
                Sign up as high school prospect
            </button>
        </div>
         <h4 class="hometxt">An application to help get answeres to your college-related questions</h3>
         <ion-list>
  </ion-list>
    </ion-content>
</ion-view>