<ion-view hide-nav-bar="true" class="padding bgcolor">
<ion-header-bar class="transparent">
  <button class="button button-clear button-primary" ng-click="openSignIn()">
      Log In
    </button>
    <button class="button button-clear button-primary" ng-click="about()">
      About
    </button>
</ion-header-bar>
    <ion-content class="padding transparent">
      <ion-list>
      <h1 class="hompageTxtTop">OPEN</h1>
  </ion-list>
        <div class="list">
            <button ng-click="openModal('student_signup')" class="button button-full button-light button-white">
                Sign up to answer your schools questions
            </button>
            <div class="list">
            <img src="img/logo1.png" class="logo">
            </div>
            <button ng-click="openModal('signup')" class="button button-full button-light button-white">
                Sign up to ask questions about a school
            </button>
        </div>
         <ion-list>
      <h1 class="hompageTxtBottom">CIRCLES</h1>
  </ion-list>
    </ion-content>
</ion-view>