<ion-view view-title="Questions for {{title1}}">
<ion-nav-title>
           Questions for {{title1}}
        </ion-nav-title>
    <ion-content>
        <ion-list ng-show="rooms" class="display-text">
            <ion-item class="item-icon-left" ng-repeat="room in rooms | orderBy:reverse" ng-if="room.$id !== 'groupName'" type="item-text-wrap" ng-click="openChatRoom(room.question, room.userID, room.questionID, room.$id, room.displayName, room.email)">
                <i class="icon {{room.icon}}"></i>
                <h2>{{room.question}}</h2>
                <h4 class="displayname">{{room.displayName}}</h4>
            </ion-item>
        </ion-list>
        <ion-item ng-if="rooms.length !== 0" class="textCenter" ng-model="message">You have {{rooms.length - 1}} question(s)</ion-item>
        <ion-item ng-if="rooms.length == 0" class="textCenter" ng-model="message">You have {{rooms.length}} question(s)</ion-item>
    </ion-content>
</ion-view>
